.woodenbg{
    width: 100vw;
    height: 100vh;
    opacity: 0.3;
    /* background-color: black; */
}
.footerud{
    position: relative;
    /* background-color: black; */
}
.divforbg{
    background-color: rgb(0, 0, 0);
    /* opacity: 70%; */
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
}
.rakshak_btn{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 10vh;
    cursor: pointer;
    color: #7a4b2e;
}
.rakshak_btn:hover{
    color: #ab7655;
}
.login3{
    position: absolute;
    top: 15%;
    left: 70%;
    font-size: 3.5vh;
    cursor: pointer;
    color: #766e6e;
    font-style: italic;
}
.login3:hover{
    color: white;
}
.signup3{
    position: absolute;
    top: 15%;
    left: 80%;
    font-size: 3.5vh;
    cursor: pointer;
    color: #766e6e;
    font-style: italic;
}
.signup3:hover{
    color: white;
}
.menu3{
    position: absolute;
    width: 100vw;
    top: 50%;
    /* left: 20%; */
    color: #f9c3a2;
    opacity: 0.7;
    font-size: 4.5vh;
    display: flex;
    align-items: center;  
    justify-content: center;
    text-align: center;
    /* font-style: oblique; */
}
.inner3:hover{
/* opacity: 1; */
    color: white;
    cursor: pointer;
}

.menunext3{
    position: absolute;
    width: 100vw;
    top: 70%;
    /* left: 20%; */
    color: rgb(163, 162, 162);
    opacity: 0.7;
    font-size: 3.5vh;
    display: flex;
    align-items: center;  
    justify-content: center;
    text-align: center;
    font-style: oblique;
}
.innernext3:hover{
/* opacity: 1; */
    color: #ffffff;
    cursor: pointer;
}

.developer{
    width: 100vw;
    height: 4vh;
    background-color: rgb(78, 78, 78);
    position: absolute;
    top: 91%;
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    align-items: center;  
    justify-content: center;
}
.copyright{
    width: 100vw;
    height: 5vh;
    position: absolute;
    top: 95%;
    background-color: #7a4b2e;
    text-align: center;
    display: flex;
    align-items: center;  
    justify-content: center;
}