.rateus6
{
    background-color: white;
}
.rate16{
    display: flex;
}
.rateleft6
{
    width: 60%;
}
.rateright6
{
    width: 35%;
    padding: 3vh;
}
.rate1img6
{
    max-width: 100%;
    max-height: 90vh;
}
.rateright6{
    font-size: 6vh;
    /* font-family: math; */
    font-style: italic;
    padding-top: 5vh;
    color: rgb(133, 126, 126);
    /* opacity: 0.2; */
}
.rateright6.visible{
    animation:  2s slideIn6 forwards;
}
@keyframes slideIn6{
    from{
        transform: translateX(40vh);
        opacity: 0;
    }to{
        transform: translateX(0vh);
        opacity: 1;
    }
}
.raterightspan6{
    color: rgb(194, 35, 35);
    font-size: 12vh;
    font-weight: 300;
    font-style: normal;
}
.desc6{
    font-size: 4vh;
    font-style: normal;
    font-family: math;
    padding-top: 15vh;
    color: rgb(116, 16, 16);
}
.rate26
{
    background-color: black;
    display: flex;
}
.rate2img6
{
    /* position: absolute; */
    height: 90vh;
    width: 100vw;
    opacity: 0.3;
}
.rate2text6
{
    width: 100%;
    position: absolute;
    top: 120%;
    color: rgb(194, 35, 35);
    font-size: 10vh;
    justify-content: center;
    text-align: center;
    
}
.context26{
    text-align: center;
    font-style: italic;
    font-size: 5vh;
    /* color: rgb(194, 35, 35); */
    color: white;
}
.rate2text6.visible{
    /* animation: 4s textanimation forwards; */
    animation:  2s slideIn6 forwards;
    
}
@keyframes textanimation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.rate36
{
    background-color: black;
}
.logo6{
    width: 100vw;
    opacity: 0.1;
    /* height: 60vh; */
    /* display: flex; */
    position: relative;
}
.btns6
{
    position: absolute;
    top: 200%;
    left: 0%;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.ratebtn6
{
    /* padding-bottom: 4vh; */
    /* padding-left: 4vh; */
    /* height: 5vh; */
    background-color: rgb(194, 34, 34);
    border: 2px solid aliceblue;   /* Combines border-color and border-width */
    border-radius: 12px;
    cursor: pointer;
    width: 8vw;
    height: 15vh;
    color: rgb(0, 0, 0);
    text-align: center;
    clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
    /* transition: background-color 0.3s, color 0.3s; */
}
.ratebtn6.disabled {
    background-color: grey;
    cursor: not-allowed;
    pointer-events: none;
}
.reset6{
    position: absolute;
    top: 210%;
    left: 0%;
    background-color: white;
}
.current6
{
    position: absolute;
    width: 100vw;
    text-align: center;
    font-size: 5vh;
    font-style: math;
    top: 240%;
    left: 0%;
    color: white;
}
.message6
{
    position: absolute;
    width: 100vw;
    text-align: center;
    font-size: 5vh;
    font-style: italic;

    /* font-style: math; */
    top: 230%;
    left: 0%;
    color: rgb(194, 34, 34);
}